@mixin bg {
    background-image: url("./../assets/shared/desktop/bg-pattern-two-circles.svg"); /* The image used */
    background-color: var(--light-peach);
    background-repeat: no-repeat;
    width: 100%;
    padding: 4rem 1.5rem;
}