%image-block {
    width: 100%;
    display: block;
}

%align-white-text {
   color: #fff;
   text-align: center;
}

%paragraph-height {
    line-height: 1.8;
}

@mixin flex($flex_position: center) {
    justify-content: $flex_position;
    display: flex;
    align-items: center;
}

@mixin bgImage ($bg-color: #E7816B) {
    background-color: $bg-color;
    background-repeat: no-repeat;
    width: 100%;
}
