%image-block {
    width: 100%;
    display: block;
}

%align-white-text {
   color: #fff;
   text-align: center;
}

%paragraph-height {
    line-height: 1.8;
}

%cta-btn {
    font-weight: 500;
    font-size: .85rem;
    margin: 0 auto;
    border-radius: 5px;
    width: 8rem;
    height: 3rem; 
    text-decoration: none;      
}

@mixin flex($flex_position: center) {
    justify-content: $flex_position;
    display: flex;
    align-items: center;
}

@mixin bgImage ($bg-color: #E7816B) {
    background-color: $bg-color;
    background-repeat: no-repeat;
    width: 100%;
}
